{% macro init(targetAds) %}

{% if targetAds %}
{% if targetAds.type == '1' %}
{% if (targetAds.carousel) and (targetAds.items.length > 0) %}
<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for item in targetAds.items %}
        {% set imgItemStyle = 'background-image:url('+item.sImg + ')'%}
        <div class="swiper-slide" style='{{imgItemStyle}}'>
            <div>
                <span>{{item.title | dump}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>
{% endif %}
{% endif %}
{% endif %}

<script>

    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal', // 垂直切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        // pagination: {
        //     el: '.swiper-pagination',
        // },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    })
</script>

{% endmacro%}